<div class="container pt-4">
  <h2>{{title}}</h2>
  <br>
  <div class="input-group">
    <div class="input-group-prepend">
     
      <span class="input-group-text" id="currency-addon">Current share price:  (&euro;)</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]=" priceObj" disabled placeholder="Current Share Price" aria-label="SharePrice"
      aria-describedby="currency-addon">
  </div>

  <br>
  
  <!-- desktop and tablet UI -->

  <table class="table table-bordered mt-3 desktop-ui">
    <thead>
      <tr class="table-secondary">
        <th scope="col">#</th>
        <th scope="col" class="no-mobile">Issue Date</th>
        <th scope="col">Number of shares</th>
        <th scope="col">Number of shares to sell</th>
        <th scope="col">Value of shares</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let certificate of data">
        <th scope="row">{{certificate.certificateId}}</th>
        <td  class="no-mobile">{{certificate.issuedDate | date:'dd/MM/yyyy'}}</td>
        <td>{{certificate.numberOfShares}}</td>
        <td>
          
          <input type="number" class="form-control" [(ngModel)]="certificate.sharesToSell" (change)="handleChange(certificate)">
        </td>
        <td>
            <div class="input-group">
                <div class="input-group-prepend">
                 
                  <span class="input-group-text" id="currency-addon">&euro;</span>
                </div>
                <input type="number" class="form-control" [value]="sharesValue(certificate)" disabled>
              </div>
          
    
        </td>
      </tr>
    </tbody>
   <br>
    <thead>
      <tr>
        <th scope="col">Totals</th>
        <th scope="col"></th>
        <th scope="col">{{_share_sum_available}}</th>
        <th scope="col">{{_share_sum_to_sell}}</th>
        <th scope="col">
            <div class="input-group">
                <div class="input-group-prepend">
                 
                  <span class="input-group-text" id="currency-addon">&euro;</span>
                </div>
                <input class="form-control" type="number" [value]="_value_of_shares" disabled>
              </div>
     
          
        </th>
      </tr>
    </thead>
  </table>


      <!-- alternative UI for mobile devices (<500px width) -->  

  <div *ngFor="let certificate of data" class="card mobile-ui mb-2">
    <div class="card-body">
        <h5 class="card-title">certificateId: {{certificate.certificateId}}</h5>
        <h6>Issue Date: {{certificate.issuedDate | date:'dd/MM/yyyy'}}</h6>
        <p>Number of shares: {{certificate.numberOfShares}}</p>
        <p>Number of shares to sell </p>
        <input type="number" class="form-control" [(ngModel)]="certificate.sharesToSell" (change)="handleChange(certificate)">
            <p>value of shares</p>
        <div class="input-group">
            <div class="input-group-prepend">
             
              <span class="input-group-text" id="currency-addon">&euro;</span>
            </div>            
            <input type="number" class="form-control" [value]="sharesValue(certificate)" disabled>
          </div>
    </div>    
  </div>
  <div  class="card mobile-ui mb-2 bg-light">
      <div class="card-header">
          Totals
        </div>
      <div class="card-body">
          
         <p>Number of shares available:  {{_share_sum_available}}</p>
         <p>Number of shares to sell:  {{_share_sum_to_sell}}</p>
         <h5 class="card-title">Total value of shares:</h5>
         <div class="input-group">
            <div class="input-group-prepend">
             
              <span class="input-group-text" id="currency-addon">&euro;</span>
            </div>
            <input class="form-control" type="number" [value]="_value_of_shares" disabled>
          </div>
          
      </div>    
    </div>


  <div class="float-right mr-4 mb-4">
    <button class="btn btn-gs btn-danger" (click)="cancelAll()">Cancel</button>
    <button class="btn btn-success btn-gs ml-2" (click)="postShares()" [disabled]="_share_sum_to_sell < 1">sell Shares</button>
  </div>




</div>
