.container{
    font-family: 'Open Sans', sans-serif;
}
.container > h2{
    color: #e0212e;
}

.btn-gs{
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .05em!important
}

.mobile-ui{
    display: none;
}


@media only screen and (max-width: 500px){
    .desktop-ui{
        display: none;
    }
    .mobile-ui{
        display: block;
    }
   
}

